$neutral-white: #FFFFFF;
$neutral-gray: #4B4B4B;
$light-gray: #D8D8D8;
$neutral-bggray: #F5F5F5;
$neutral-black: #000000;
$dogs-violet: #50559F;
$dogs-peach: #F2726F;
$dogs-aqua:  #29C3BE;
$shadow-gray: rgba(38, 38, 38, 0.24);